.localgov-alert-banner {
  &__wrapper {
    max-width: var(--width-container);
  }
  &__inner {
    padding: 1.5625rem 0;
  }
  &__title {
    font-size: 1.1875rem;
    font-weight: 700;
    margin-top: 0;
  }
  &__body p,
  &--content-link {
    font-size: 1.0625rem;
  }
  &__actions {
    align-items: center;
  }
  &__close {
    &:hover {
      cursor: pointer;
    }
  }

  &__close {
    align-items: center;
    border: none;
    display: flex;
    font-family: var(--font-primary);
    font-size: 0.938rem;
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      background-color: transparent;
      border: none;
      text-decoration-thickness: 0.1875rem;
    }

    &:focus {
      color: var(--color-black);

      svg {
        fill: var(--color-black);
      }
    }

    svg {
      height: 1.5rem;
      margin-left: 0.5rem;
    }
  }

  &--notable-person,
  &--major,
  &--announcement {
    button {
      color: var(--color-white);

      &:hover {
        color: var(--color-white);
      }

      svg {
        fill: var(--color-white);
      }
    }
  }
}
