.lgd-region--breadcrumb {
  background-color: var(--color-light);
  padding-bottom: 2.125rem;
  padding-top: 2.125rem;

  nav {
    border: none;
    margin-bottom: 0;
    padding: 0;
  }

  .breadcrumbs__list {
    font-size: 0.875rem;
  }
}
