.block-localgov-directories-channel-search-block {
  font-size: var(--font-size-h4);
}

.view-localgov-directory-channel {
  .lgd-teaser__content {
    border-bottom: 1px solid var(--color-light);
    padding-bottom: 0.625rem;
  }
}

.localgov-search-channel {
  display: none;
}
