.sliding-popup-bottom,
.sliding-popup-top {
  box-shadow: 0px 3px 3px 0px rgba(0,55,71,0.42);
  text-align: left;
}

.eu-cookie-compliance {
  padding: 1.875rem 0;

  &__title h1 {
    font-size: var(--font-size-h4);
  }

  &__button-agree {
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 48rem) {
  .sliding-popup-bottom,
  .sliding-popup-top {
    padding: 0 1rem;
  }

  .eu-cookie-compliance__buttons {
    button,
    a.btn {
      display: block;
      font-size: 1rem;
      margin-top: 0.9375rem;
      width: 15.625rem;
    }
  }
}
