.lgd-footer__pre-footer {
  padding: 0;
}

.lgd-footer__footer {
  color: var(--color-white);
  padding: 3.75rem 0;

  h2 {
    font-size: 1.375rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  dl, ol, p, ul {
    font-size: 1rem;
    line-height: 1.8;
  }

  a {
    color: var(--color-focus);

    &:focus {
      color: var(--color-black);
    }
  }

  .lgd-row__one-third {
    padding-right: 2rem;
  }

  nav ul {
    list-style: none;
    padding-left: 0;

    li {
      padding-left: 32px;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 1.25rem auto;

      &:not(last-child) {
        margin-bottom: 0.625rem;
      }

      &.cumbria-footer__contact {
        background-image: var(--icon-comment-alt-lines);
      }

      &.cumbria-footer__other {
        background-image: var(--icon-user-friends);
      }
    }
  }
}

.lgd-footer__post-footer {
  padding: 2rem 0;

  .menu--footer {
    display: flex;
    font-size: 0.9375rem;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    li:not(:first-child) {
      margin-left: 1rem;
    }

    a {
      color: var(--color-section-post-footer);
    }
  }

  .copyright {
    font-size: 0.9375rem;
    margin-bottom: 0;
    text-align: right;
  }
}

@media screen and (max-width: 48rem) {
  .lgd-footer__footer {
    padding: 3.75rem 1rem;

    .lgd-row__one-third {
      margin-bottom: 3rem;
      padding-right: 0;
    }
  }

  .lgd-footer__post-footer {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;

    .menu--footer {
      flex-direction: column;
      margin-bottom: 2.5rem;

      li:not(:first-child) {
        margin-left: 0;
        margin-top: 0.5rem;
      }
    }

    .copyright {
      text-align: left;
    }
  }
}
