input[type=text] {
  border: 0.0625rem solid var(--color-black);
  border-radius: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-medium);

  &:focus {
    outline: 0.1875rem solid var(--color-focus);
  }
}

.form-checkboxes input[type="checkbox"],
.facet-item input[type="checkbox"] {
  width: 34px;
  height: 34px;
}

.form-checkboxes input[type="checkbox"] + label,
.facet-item input[type="checkbox"] + label {
  margin-left: 30px;
  padding: 0 15px 5px;
}

.form-checkboxes input[type="checkbox"] + label::before,
.facet-item input[type="checkbox"] + label::before {
  width: 30px;
  height: 30px;
}
.form-checkboxes input[type="checkbox"] + label::after,
.facet-item input[type="checkbox"] + label::after {
  color: var(--color-info);
  top: 8px;
  left: 5px;
  width: 20px;
  height: 10px;
}

.form-checkboxes input[type="checkbox"]:hover + label,
.facet-item input[type="checkbox"]:hover + label,
.form-checkboxes input[type="checkbox"]:focus + label,
.facet-item input[type="checkbox"]:focus + label {
  text-decoration: underline;
  text-decoration-thickness: 0.1875rem;
}

.form-checkboxes input[type="checkbox"]:checked + label:after,
.facet-item input[type="checkbox"]:checked + label:after {
  opacity: 1
}
