.lgd-header {
  padding-top: var(--section-spacing-vertical-header);
  padding-bottom: var(--section-spacing-vertical-header);
}

.branding__logo img {
  height: auto;
  width: 8.5rem;
}

.lgd-header__toggle {
  border: none;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0.6125rem var(--spacing-small);

  &:hover,
  &:focus {
    background-color: var(--color-focus);
    color: var(--color-black);
    text-decoration: none;

    svg {
      fill: var(--color-black);
    }
  }

  &-icon {
    transition: var(--transition-time);

    svg {
      height: 1.125rem;
      margin-top: 0.125rem;
      width: 1.125rem;
    }

    &::after {
      content: none;
      transform: none;
      width: 1rem;
    }
  }

  &-text {
    margin-left: 0.5rem;
  }

  &--active {
    background-color: var(--color-focus);
    color: var(--color-black);

    .lgd-header__toggle-icon {
      transform: rotate(180deg);

      svg {
        fill: var(--color-black);
      }
    }
  }
}
