.lgd-header {
  padding-top: var(--section-spacing-vertical-header);
  padding-bottom: 0;

  .lgd-container {
    padding-bottom: var(--section-spacing-vertical-header);
  }

  &__nav--primary {
    display: none;

    @media screen and (min-width: 48.0625rem) {
      display: flex;
    }
  }

  .lgd-header__nav--active {
    display: block;
  }
}

.lgd-header__toggle {
  border: none;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: var(--line-height);
  padding: 0.375rem var(--spacing-small);

  &:hover,
  &:focus {
    background-color: var(--color-focus);
    color: var(--color-black);
    text-decoration: none;

    svg {
      fill: var(--color-black);
    }
  }

  &-icon {
    transition: var(--transition-time);

    svg {
      display: block;
      height: 1.125rem;
      width: 1.125rem;
    }

    &::after {
      content: none;
      transform: none;
      width: 1rem;
    }
  }

  &-text {
    margin-left: 0.5rem;
  }

  &--active {
    background-color: var(--color-focus);
    color: var(--color-black);

    .lgd-header__toggle-icon {
      transform: rotate(180deg);

      svg {
        fill: var(--color-black);
      }
    }
  }
}

/* Search forms - header and search page */
#views-exposed-form-localgov-sitewide-search-sitewide-search-page,
#views-exposed-form-localgov-sitewide-search-sitewide-search-page-block {
  label {
    @include visually-hidden;
  }

  input[type=text] {
    padding: 0.625rem;

    @media screen and (max-width: 62rem) {
      width: 12rem;
    }

    &:focus {
      outline-offset: -0.1875rem;
    }
  }
}

#views-exposed-form-localgov-sitewide-search-sitewide-search-page {
  align-items: center;
  display: flex;

  input[type=text] {
    padding: calc(0.625rem - 1px);
  }
}

.button--search {
  background-color: var(--color-dark);
  border-bottom: none;
  height: 2.75rem;
  padding: 0;
  width: 2.75rem;

  svg {
    width: 1.375rem;
  }

  &:focus {
    background-color: var(--color-dark);
    outline: 0.1875rem solid var(--color-focus);
    outline-offset: -0.1875rem;
  }
}

/*
  Header styling for smaller screens.
  Uses localgov_base default breakpoint of 48rem - if amending here be mindful of hard-coded breakpoints
  in the parent theme.
*/

@media screen and (max-width: 48rem) {
  .lgd-header {

    .lgd-container {
      padding-bottom: 0;

      .lgd-row__full {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }

    .lgd-container.padding-horizontal {
      padding-left: 0;
      padding-right: 0;
    }

    &__inner {
      display: block;
      position: relative;

      .lgd-region--header {
        padding-bottom: 0.75rem;
        padding-left: var(--spacing-padding-horizontal);
        padding-right: var(--spacing-padding-horizontal);
      }
    }

    .lgd-header__nav--active {
      display: flex;
      flex-direction: column;
    }

    .menu--main {
      display: flex;
      flex-direction: column;
      margin-right: 0;

      .lgd-services__toggle {
        order: 1;
      }

      & > .menu-item + .menu-item,
      .menu-item {
        border-bottom: 1px solid var(--color-light);
        margin-left: 0;

        &:hover {
          background-color: var(--color-focus);

          a {
            color: var(--color-black);
            text-decoration: none;

          }
        }

        button,
        a {
          font-weight: 600;
          padding: 0.6875rem 0.75rem;

          &:focus {
            border-radius: 0;
          }
        }
      }
    }

    .lgd-header__toggle--secondary {
      border-radius: 0;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-left: 0;
      padding-left: 0;
      width: 100%;

      &:hover {
        background-color: transparent;
      }

      .lgd-header__toggle-text--secondary {
        margin-left: 0;
      }
    }

    &__toggle.lgd-header__toggle--primary {
      align-items: center;
      background-color: var(--color-dark);
      border-radius: 0;
      display: flex;
      height: 2.5rem;
      justify-content: center;
      margin-left: 0;
      padding: 0;
      position: absolute;
      right: 0.75rem;
      top: 0.75rem;
      width: 2.5rem;

      #primary-closed {
        display: inline;
      }

      #primary-open {
        display: none;
      }

      &:hover,
      &:focus {
        outline: 0.125rem solid var(--color-focus);

        svg {
          fill: var(--color-white);
        }
      }

      &.lgd-header__toggle--active {
        outline: 0.125rem solid var(--color-focus);

        #primary-closed {
          display: none;
        }

        #primary-open {
          display: inline;
          transform: scale(1.3) translateY(-50px);
        }
      }
    }
  }

  .lgd-region--search {
    order: -1;

    .form-item {
      flex-grow: 1;
    }

    #views-exposed-form-localgov-sitewide-search-sitewide-search-page-block input[type=text] {
      padding-left: 1rem;
      width: 100%;
    }
  }
}

