.lgd-tlb__service-icon {
  display: none;
}

.lgd-tlb__service-item {
  font-size: 1.125rem;
  margin-right: 3rem;

  h2 {
    font-size: 1.75rem;
    line-height: 1.3;

    a {
      display: block;
    }
  }
}
