.service-landing-page__services {
  margin-bottom: 3rem;

  .field__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
      width: calc(33% - var(--spacing-mega));
    }
  }
}

.service-landing-page__service-icon {
  display: none;
}

.service-landing-page__service-item {
  font-size: 1.125rem;

  h2 {
    font-size: 1.75rem;
    line-height: 1.3;

    a {
      display: block;
    }
  }
}
