.service-cta-block__list {
  border-bottom: none;
  justify-content: space-between;

  &-item {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.125rem;
    margin-left: 0;
    font-weight: 700;
  }
}

a.service-cta-block__link {
  border-bottom: var(--border-large);
  border-bottom-color: var(--color-info-dark);
  height: 100%;
  padding: 0.625rem 1rem;

  &:hover {
    background-color: var(--color-success-dark);
    color: var(--color-white);
  }

  &:focus,
  &:hover {
    box-shadow: none;
    text-decoration: none;

    .service-cta-block__link-icon {
      left: initial;
    }

  }
}

.service-cta-block__link:focus .service-cta-block__link-icon svg path {
  fill: var(--color-black);
}

.service-cta-block__link-icon {
  transition: none;
}
