/* Alerts */
.alert {
  padding: 1.25rem 1.25rem 1.25rem 4.375rem;
  border: none;
  background-color: var(--color-white);
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-size: 1.875rem;
  font-size: var(--font-size-medium);
  font-weight: 400;

  a {
    color: var(--color-focus);

    &:visited,
    &:hover {
      color: var(--color-focus);
    }

    &:focus {
      color: var(--color-black);
    }
  }

  strong {
    font-weight: 700;
  }
}

.alert-info {
  background-color: var(--color-accent);
  background-image: var(--icon-info-circle);
  color: var(--color-white);
}

.alert-success {
  background-color: var(--color-success);
  background-image: var(--icon-check-circle);
  color: var(--color-white);
}

.alert-danger,
.alert-primary {
  background-color: var(--color-danger);
  background-image: var(--icon-exclamation-circle);
  color: var(--color-white);
}

/* Inline contact details */
.inline-contact-details {
  border-left: 0.3125rem solid var(--color-teal);
  padding: 0 1.875rem;
}

/* Inset text */
.inset-text {
  background-color: var(--color-teal-tint);
  border-left: 0.3125rem solid var(--color-teal);
  padding: 1.25rem 1.875rem;
}

/* Action link */
.lgd-action-link {
  background-image: var(--icon-arrow-circle-right);
  padding: 1rem 1rem 1rem 2.375rem;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.875rem;
  font-size: var(--font-size-h5);
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1875rem;
  }
}
