a,
a:focus {
  transition: none;
}

.lgd-region--content {
  padding-bottom: var(--spacing-largest);

  a {
    &:visited {
      color: var(--color-link-visited);
    }
    &:hover {
      color: var(--color-link-hover);
    }
  }
}

.lgd-region--content-bottom {
  margin-bottom: 4.375rem;
}
