a,
a:focus {
  transition: none;
}

.lgd-region--content {
  padding-bottom: var(--spacing-largest);
  
  a {
    &:visited {
      color: #542c6c;
    }
    &:hover {
      color: #01244d;
    }
  }
}
