a,
a:focus {
  transition: none;
}

.lgd-region--content {
  padding-bottom: var(--spacing-largest);

  a {
    &:visited {
      color: var(--color-link-visited);
    }
    &:hover {
      color: var(--color-link-hover);
    }
  }
}

.lgd-region--content-bottom {
  margin-bottom: 4.375rem;
}

table {
  border: none;
}

th,
td {
  &:first-child {
    padding-left: 0;
  }
}

th {
  font-size: var(--font-size-h5);
  line-height: 1.625rem;
  vertical-align: bottom;
}

td {
  font-size: 1.125rem;
}

thead tr,
tbody tr {
  border-bottom: var(--table-border);
}

/* Ensure consistent spacing between content-top and main content - this is ugly */
.page-node-type-localgov-step-by-step-page,
.page-node-type-localgov-step-by-step-overview,
.page-node-type-localgov-directory,
.page-node-type-localgov-directories-venue,
.page-node-type-localgov-directories-page,
.page-node-type-localgov-services-status {

  .lgd-region--content-top {
    margin-bottom: 3.5rem;
  }
}

.field--type-text-with-summary p.alert:first-child,
.block-system-main-block > .service-statuses {
  margin-top: 2.5rem;
}
